//body
//  padding-bottom: 2rem

.vertical-center
  min-height: 100vh
  display: flex
  align-items: center

#app-container
  max-width: 900px
  border-radius: 65px
  margin: 20px auto
  padding: 2% 0
  text-align: center

#app-container .label
  font-style: italic

#app-container input
  text-align: center
  font-size: 1.3em

#app-container #lab1-result
  font-size: 1.3em

